<template>

    <GChart
        :type="type"
        :data="data"
       />

</template>

<!--<script src="/js/app.js"></script>-->
<script>
import VueGoogleCharts from 'vue-google-charts'

Vue.use(VueGoogleCharts)

export default {
    name: "Chart",
    props: ['type', 'data']
}
</script>

<style scoped>

</style>
