<template>

    <div class="card card-primary">
        <div class="card-body">
            <div class="group-form mb-2">
                <label>Select Report</label>
                <multiselect :options="reports" track-by="value" label="title"
                             v-model="selected_report"></multiselect>
            </div>
            <div v-if="selected_report.value !== 'CustomersRates'">
                <div class="form-group mb-2">
                    <label>Dates</label>
                    <div class="row mb-2">
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label">From Date</label>
                                <input class="date-datepicker result form-control"
                                       type="text"
                                       v-model="filter_data.startDate"
                                       placeholder="From Date"
                                       id="filter-data-startDate"

                                >
                            </div>


                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label">To Date</label>
                                <input class="date-datepicker result form-control"
                                       type="text"
                                       v-model="filter_data.endDate"
                                       id="filter-data-endDate"

                                       placeholder="To Date"
                                >
                            </div>
                        </div>
                    </div>
                    <div v-if="selected_report.value !== 'General'">
                        <button @click="setDatesToday()" class="btn btn-sm btn-secondary mb-2"
                                :class="{'btn-success' : filter_data.startDate === today && filter_data.endDate === today }">
                            Today
                        </button>
                        <button @click="setDatesYesterday()"
                                class="btn btn-sm btn-secondary mb-2"
                                :class="{'btn-success' : filter_data.startDate === yesterday && filter_data.endDate === yesterday }">
                            Yesterday
                        </button>
                    </div>
                    <div
                        v-if="selected_report.value !== 'General' && selected_report.value !== 'CustomersBestCount'">
                        <label>Frequency</label>
                        <div>
                            <button @click="filter_data.frequency = 'Y/m/d'"
                                    class="btn btn-sm btn-secondary mb-2"
                                    :class="{'btn-success' : filter_data.frequency === 'Y/m/d' }">
                                Daily
                            </button>
                            <button @click="filter_data.frequency = 'W'"
                                    class="btn btn-sm btn-secondary mb-2"
                                    :class="{'btn-success' : filter_data.frequency === 'W' }">
                                Weekly
                            </button>
                            <button @click="filter_data.frequency = 'm'"
                                    class="btn btn-sm btn-secondary mb-2"
                                    :class="{'btn-success' : filter_data.frequency === 'm' }">
                                Monthly
                            </button>
                            <button @click="filter_data.frequency = 'Y'"
                                    class="btn btn-sm btn-secondary mb-2"
                                    :class="{'btn-success' : filter_data.frequency === 'Y' }">
                                Yearly
                            </button>
                            <button @click="filter_data.frequency = 'H'"
                                    class="btn btn-sm btn-secondary mb-2"
                                    :class="{'btn-success' : filter_data.frequency === 'H' }">
                                Hourly
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6" v-if="selected_report.value === 'CustomersBestCount'">
                        <label>Who has more than order</label>
                        <multiselect
                            :options="[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]"
                            v-model="filter_data.orderCount"></multiselect>
                    </div>
                    <div class="col-6" v-if="selected_report.value === 'CustomersBestCount'">
                        <label>to who has less than order</label>
                        <multiselect
                            :options="[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]"
                            v-model="filter_data.to_orderCount"></multiselect>
                    </div>
                </div>

                <template v-if="selected_report.value !== 'CustomersBestCount'">
                    <div
                        v-if="selected_report.value !== 'Accounts' && selected_report.value !== 'CustomersCount' && selected_report.value !== 'CustomersBest'  && selected_report.value !== 'General' ">
                        <label>Filter By</label>
                        <div>
                            <button v-on:click="filter_data.date = 'requested_time'"
                                    class="btn btn-sm btn-secondary mb-2"
                                    :class="{'btn-success' : filter_data.date === 'requested_time'}">
                                Requested Time
                            </button>
                            <button @click="filter_data.date = 'created_at'"
                                    class="btn btn-sm btn-secondary mb-2"
                                    :class="{'btn-success' : filter_data.date === 'created_at'}">
                                Created Time
                            </button>
                        </div>
                        <div class="form-group mb-2">
                            <label>Payment Methods</label>
                            <div>
                                <button
                                    @click="filter_data.paymentMethods = paymentmethodsids"
                                    class="btn btn-sm btn-secondary mb-2"
                                    :class="{'btn-success' : filter_data.paymentMethods.length === paymentmethods.length }">
                                    All Payment Methods
                                </button>
                                <button
                                    v-for="paymentMethod in paymentmethods"
                                    @click="togglePaymentMethod(paymentMethod.id)"
                                    class="btn btn-sm btn-secondary mb-2 mr-1"
                                    :class="{'btn-success' : filter_data.paymentMethods.indexOf(paymentMethod.id) !== -1}"
                                    v-text="paymentMethod.title"
                                >
                                </button>
                            </div>
                        </div>
                        <div class="form-group mb-2">
                            <label>Gates</label>
                            <div>
                                <button @click="filter_data.gates = gates.map(it=>it.id)"
                                        class="btn btn-sm btn-secondary mb-2"
                                        :class="{'btn-success' : filter_data.gates.length === gates.length }">
                                    All Gates
                                </button>
                                <button
                                    v-for="gate in gates"
                                    @click="toggleGate(gate.id)"
                                    class="btn btn-sm btn-secondary mb-2 mr-1"
                                    :class="{'btn-success' : filter_data.gates.indexOf(gate.id) !== -1}"
                                    v-text="gate.title"
                                >
                                </button>
                            </div>
                        </div>
                        <div class="form-group mb-2">
                            <label>Statuses</label>
                            <div>
                                <button v-on:click="filter_data.statuses = [0,1,2,3,4]"
                                        class="btn btn-sm btn-secondary mb-2"
                                        :class="{'btn-success' : filter_data.statuses.length === 5 }">
                                    All
                                    Statuses
                                </button>
                                <button v-on:click="toggleStatus(0)"
                                        class="btn btn-sm btn-secondary mb-2"
                                        :class="{'btn-success' : filter_data.statuses.indexOf(0) !== -1}">
                                    New
                                </button>
                                <button v-on:click="toggleStatus(3)"
                                        class="btn btn-sm btn-secondary mb-2"
                                        :class="{'btn-success' : filter_data.statuses.indexOf(3) !== -1}">
                                    Updated
                                </button>
                                <button v-on:click="toggleStatus(1)"
                                        class="btn btn-sm btn-secondary mb-2"
                                        :class="{'btn-success' : filter_data.statuses.indexOf(1) !== -1}">
                                    Delivered
                                </button>
                                <button v-on:click="toggleStatus(4)"
                                        class="btn btn-sm btn-secondary mb-2"
                                        :class="{'btn-success' : filter_data.statuses.indexOf(4) !== -1}">
                                    Canceled
                                </button>
                                <button v-on:click="toggleStatus(2)"
                                        class="btn btn-sm btn-secondary mb-2"
                                        :class="{'btn-success' : filter_data.statuses.indexOf(2) !== -1}">
                                    Proved
                                </button>
                            </div>
                        </div>
                        <div class="form-group mb-2">
                            <label>Products</label>
                            <multiselect :options="products" track-by="id" label="title"
                                         v-model="filter_data.products" :multiple="true"></multiselect>
                        </div>
                        <div class="form-group mb-2">
                            <label>Employees</label>
                            <multiselect :options="employees" track-by="id" label="name"
                                         v-model="filter_data.employees" :multiple="true"></multiselect>
                        </div>
                        <div class="form-group mb-2">
                            <label>Cities</label>
                            <multiselect :options="cities" track-by="id" label="title"
                                         v-model="filter_data.cities" :multiple="true"></multiselect>
                        </div>
                    </div>
                    <div v-if="selected_report.value === 'Accounts'">
                        <label>Account</label>
                        <multiselect :options="accounts" track-by="id" label="title"
                                     v-model="filter_data.account"></multiselect>
                    </div>
                </template>
            </div>
            <div class="mt-3">
                <button class="btn btn-sm btn-primary" @click="submitForm(true)">Show</button>
                <button class="btn btn-sm btn-primary print-btn" @click="printReport()">Print</button>
                <button class="btn btn-success" onclick="ExportToExcel()">export to excel</button>
            </div>
        </div>
    </div>

</template>

<script>

import Multiselect from 'vue-multiselect'

// register globally
Vue.component('multiselect', Multiselect)


export default {
    props: [
        'accounts',
        'products',
        'employees',
        'cities',
        'paymentmethods',
        'paymentmethodsids',
        'gates',
        'gatesids',
        'csrftoken',
        'lng',
    ],
    data() {
        return {
            show: true,
            reports: [
                {
                    value: 'General',
                    title: 'General',
                },
                {
                    value: 'Sales',
                    title: 'Sales',
                },
                {
                    value: 'Products',
                    title: 'Products',
                },
                {
                    value: 'ProductsQuantity',
                    title: 'Products Quantity',
                },
                {
                    value: 'Areas',
                    title: 'Areas',
                },
                {
                    value: 'Employees',
                    title: 'Employees',
                },
                {
                    value: 'Accounts',
                    title: 'Accounts',
                },
                {
                    value: 'CustomersCount',
                    title: 'Customers Count',
                },
                {
                    value: 'CustomersBest',
                    title: 'Best Customers',
                },
                {
                    value: 'CustomersRates',
                    title: 'Customers Rates',
                },
                {
                    value: 'CustomersBestCount',
                    title: 'Best Customers By Orders Count',
                }
            ],
            selected_report: {
                value: 'General',
                title: 'General',
            },
            filter_data: {
                startDate: moment().add('-4', 'day').toISOString(),
                endDate: moment().toISOString(),
                statuses: [0, 1, 2, 3],
                products: [],
                employees: [],
                cities: [],
                account: '',
                frequency: 'Y/m/d',
                paymentMethods: this.paymentmethodsids,
                gates: this.gatesids,
                date: 'requested_time',
                orderCount: 0,
                to_orderCount: 0,
            },
            loader: false
        }


    },

    computed: {
        today() {
            return moment().toISOString();
        },
        yesterday() {
            return moment().add(-1, 'days').toISOString();
        }
    },
    mounted() {
        var self = this;
        this.submitForm(1);

        $('#filter-data-startDate').on('change', function (data) {

            self.filter_data.startDate = $('#filter-data-startDate').val()
        })
        $('#filter-data-endtDate').on('change', function (data) {

            self.filter_data.endDate = $('#filter-data-endDate').val()
        })


    },
    methods: {
        submitForm(show) {
            this.show = show;

            $(".response-message").empty();


            $.post('/' + this.lng + '/admin/reports/show',
                {
                    _token: this.csrftoken,
                    filter_data: JSON.stringify(this.filter_data),
                    selected_report: this.selected_report.value
                },
                function (data) {
                    $(".response-message").html(data);

                });


            //window.scrollTo(0, 0)
            // $('#reportForm').on('submit', function (event) {
            //     event.preventDefault()
            //     $('#reportForm').submit()
            // })
            // setTimeout(function (e) {
            // $('#reportForm').submit();
            // $('#reportForm .response-message').html(loader);
            // }, 200);
        },
        toggleStatus: function (status) {
            let statuses = this.filter_data.statuses;
            if (statuses.indexOf(status) !== -1) {
                statuses.splice(statuses.indexOf(status), 1);
            } else {
                statuses.push(status);
            }
        },
        togglePaymentMethod: function (pm) {
            let pms = this.filter_data.paymentMethods;
            if (pms.indexOf(pm) !== -1) {
                pms.splice(pms.indexOf(pm), 1);
            } else {
                pms.push(pm);
            }
        },
        toggleGate: function (pm) {
            let pms = this.filter_data.gates;
            if (pms.indexOf(pm) !== -1) {
                pms.splice(pms.indexOf(pm), 1);
            } else {
                pms.push(pm);
            }
        },
        setDatesToday: function () {
            this.filter_data.startDate = this.today;
            this.filter_data.endDate = this.today;
        },
        setDatesYesterday: function () {
            this.filter_data.startDate = this.yesterday;
            this.filter_data.endDate = this.yesterday;
        },
        printReport: function () {
            $('.report-content').printThis();


        },
    }

}

</script>


